{% extends 'template_base.html' %}

{% block content %}
{% static load %}

<!-- The form -->
<div class="prohibit">
  <div class="text container">
    <h5>Welcome to</h5>
    <h1>SEN TRIP</h1>
    <h4>FOR YOUR TRAVELS, BOOK YOUR FLIGHTS, VEHICLES AND HOTEL ROOMS</h4>
  </div>

  <div class="container">
    <div class="tabs">
      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone">FLIGHTS</label>
      <div class="tab">
        <!-- FLIGHTS PART -->
        <div class="line" style="display: flex; align-items: center;">
          <div class="col-2">
            <select class="form-select selection">
              <option>Aller-retour</option>
              <option>Aller-Simple</option>
            </select>
          </div>
          <div class="col-2">
            <select class="form-select selection">
              <option>Economy</option>
              <option>première classe</option>
            </select>
          </div>
          <div class="col-2">
            <select class="form-select selection">
              <option>Adult</option>
              <option>Enfant</option>
            </select>
          </div>
        </div>

        <div class="line" style="display: flex; align-items: center;">
          <div class="col-3">
            <div class="lab_input">
              <span>Aeréport depart:</span>
              <div class="datetime">
                <input class="input" type="text" placeholder="Start">
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="lab_input">
              <span>Aeréport d'Arrivée:</span>
              <div class="datetime">
                <input class="input" type="text" placeholder="Arrival">
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="lab_input">
              <span>Date Depart:</span>
              <div class="datetime">
                <img src="{% static 'img/calendar.png' %}" class="calendar" alt="My Image">
                <input class="input" type="date">
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="lab_input">
               <span>Date Arrivée:</span>
                <div class="datetime">
                <img src="{% static 'img/calendar.png' %}" class="calendar" alt="My Image">
                <input type="date" class="input">
               </div>
             </div>
            </div>
         </div>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
       <button class="button2">RECHERCHER</button>
      </div>
     </div>

      
