{% extends 'index.html' %}

{% block contenu %}
    {% load static %}
    <div class="listBody">
        <h1>Résultats de recherche de vols</h1>
        <div class="row">
            {% for key, value in liste_vols.items %}
            <div class="col-md-4">
                <div class="container r_carte mb-3">
                    <a href="{% static 'img/'|add:value.image %}" target="_blank">
                        <img src="{% static 'img/'|add:value.image %}" class="card-img-top" alt="Image">
                    </a>
                    <div class="carte-body">
                        <h5 class="carte-title">
                            <span style="color: blue;">{{ value.compagnie }}</span>
                        </h5>
                        <p>Prix : <span style="color: green;">${{ value.prix }}</span></p>
                        {% if request.session.info_utilisateur.nom %}
                            <form action="{% url 'paiement' %}" method="post" id="myForm">
                                {% csrf_token %}
                                <input type="hidden" value="{{ key }}" name="id_vol" id="id_vol">
                                <button type="submit" class="btn btn-primary btn-block confirmer">RESERVEZ</button>
                            </form>
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            Veuillez vous connecter pour réserver.
                            </div>
                            <button class="btn btn-primary btn-block confirmer disabled" disabled style="opacity: 0.3;">RESERVEZ</button>
                        {% endif %}
                        <div class="d-grid gap-2" style="padding-top: 20px;">
                            <button class="btn btn-success voir-plus" onclick="toggleDetails('{{ key }}')"  style="padding-top: 20px;">Voir plus de détails</button>
                        </div>
                        <div id="details_{{ key }}" style="display: none;">
                            {% for item_key, item_value in value.items %}
                                {% if item_key != 'image' and item_key != 'compagnie' and item_key != 'prix' %}
                                    <p>{{ item_key }} : {{ item_value }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function toggleDetails(key) {
            var detailsDiv = document.getElementById('details_' + key);
            if (detailsDiv.style.display === 'none' || detailsDiv.style.display === '') {
                detailsDiv.style.display = 'block';
            } else {
                detailsDiv.style.display = 'none';
            }
        }
    </script>
{% endblock %}
