mon_env/
env_*/






          <div class="rgGf-text-info"><div class="rgGf-category">Hyundai i10</div>
          <span class="rgGf-similar-category">ou Économique similaire</span>
          <div role="list" class="iTHr-result-list">
            <div role="listitem" class="iTHr-car-option iTHr-has-tooltip" aria-label="Nombre de personnes 5 passager·ères adultes" tabindex="0">
              <span class="iTHr-icon" style="transform: translate3d(0px, 0px, 0px); vertical-align: middle; -webkit-font-smoothing: antialiased;">
                <svg viewBox="0 0 200 200" width="5%" height="5%" xmlns="http://www.w3.org/2000/svg" role="img" style="width: inherit; height: inherit; line-height: inherit; color: inherit;">
                <path d="M180 155.435V177.5H20v-22.064c50.314-24.61 110.67-24.128 160-.001zm-80-36.132c17.673 0 32-14.446 32-32.267V54.768c0-17.821-14.327-32.268-32-32.268S68 36.946 68 54.768v32.268c0 17.82 14.327 32.267 32 32.267z">
                </path></svg></span>5</div><div role="listitem" class="iTHr-car-option iTHr-has-tooltip" aria-label="Nombre de bagages 1 grand bagage" tabindex="0">
                  <span class="iTHr-icon" style="transform: translate3d(0px, 0px, 0px); vertical-align: middle; -webkit-font-smoothing: antialiased;">
                    <svg viewBox="0 0 200 200" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" style="width: inherit; height: inherit; line-height: inherit; color: inherit;">
                      <path d="M78.182 42h43.636v14.5h14.546V41.855c0-7.924-6.451-14.355-14.407-14.355H78.044c-7.956 0-14.407 6.431-14.407 14.355V56.5h14.546V42zM20 63.75V158c0 8.004 6.516 14.5 14.545 14.5h130.909c8.029 0 14.545-6.496 14.545-14.5V63.75H20z">
                      </path></svg></span>1</div><div role="listitem" class="iTHr-car-option iTHr-has-tooltip" aria-label="Type de transmission Manuelle" tabindex="0"><span class="iTHr-icon" style="transform: translate3d(0px, 0px, 0px); vertical-align: middle; -webkit-font-smoothing: antialiased;"><svg viewBox="0 0 200 200" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" style="width: inherit; height: inherit; line-height: inherit; color: inherit;"><path d="M30.3 50.78a4.25 4.25 0 00-.2 1.1v48a6 6 0 006 6h58v42c0 .4.2.7.2 1.1a16 16 0 1011.6 0a4.25 4.25 0 00.2-1.1v-42H158v42c0 .4.2.7.2 1.1a16 16 0 1011.6 0a4.25 4.25 0 00.2-1.1v-96c0-.4-.2-.7-.2-1.1a16 16 0 10-11.6 0a4.25 4.25 0 00-.2 1.1v42h-52v-42c0-.4-.2-.7-.2-1.1a16 16 0 10-11.6 0a4.25 4.25 0 00-.2 1.1v42H42v-42c0-.4-.2-.7-.2-1.1A16 16 0 1020 35.88a16.1 16.1 0 0010.3 14.9z">

          </path></svg></span>M</div></div></div>










          <div role="button" tabindex="0" class="rgGf rgGf-pres-one">
            <div class="rgGf-photo rgGf-next-to">
            <img class="rgGf-pres-default" alt="Catégorie de véhicule : Kia Optima" srcset="https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=116, https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=174 1.5x, https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=232 2x" src="https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=232">
            </div><div class="rgGf-info-col">
            <div class="rgGf-above">
            <div class="rgGf-photo">
            <img class="rgGf-pres-default" alt="Catégorie de véhicule : Kia Optima" srcset="https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=116, https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=174 1.5x, https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=232 2x" src="https://content.r9cdn.net/rimg/carimages/generic/02_economy_white.png?height=232">
            </div><div class="rgGf-main-info"><div class="rgGf-header">Location de voiture à Dakar</div>
            <div class="rgGf-category">Kia Optima<span class="rgGf-similar-category">ou Standard similaire</span></div>
            <div role="list" class="iTHr-result-list">
            <div role="listitem" class="iTHr-car-option iTHr-has-tooltip" aria-label="Nombre de personnes 5 passager·ères adultes" tabindex="0">
            <span style="transform:translate3d(0,0,0);vertical-align:middle;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale" class="iTHr-icon">
            <svg viewBox="0 0 200 200" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" style="width:inherit;height:inherit;line-height:inherit;color:inherit">
            <path d="M180 155.435V177.5H20v-22.064c50.314-24.61 110.67-24.128 160-.001zm-80-36.132c17.673 0 32-14.446 32-32.267V54.768c0-17.821-14.327-32.268-32-32.268S68 36.946 68 54.768v32.268c0 17.82 14.327 32.267 32 32.267z"></path></svg></span>5</div><div role="listitem" class="iTHr-car-option iTHr-has-tooltip" aria-label="Nombre de bagages 3 grands bagages" tabindex="0">
            <span style="transform:translate3d(0,0,0);vertical-align:middle;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale" class="iTHr-icon"><svg viewBox="0 0 200 200" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" style="width:inherit;height:inherit;line-height:inherit;color:inherit">
            <path d="M78.182 42h43.636v14.5h14.546V41.855c0-7.924-6.451-14.355-14.407-14.355H78.044c-7.956 0-14.407 6.431-14.407 14.355V56.5h14.546V42zM20 63.75V158c0 8.004 6.516 14.5 14.545 14.5h130.909c8.029 0 14.545-6.496 14.545-14.5V63.75H20z"></path></svg></span>3</div><div role="listitem" class="iTHr-car-option iTHr-has-tooltip" aria-label="Type de transmission Manuelle" tabindex="0">
            <span style="transform:translate3d(0,0,0);vertical-align:middle;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale" class="iTHr-icon"><svg viewBox="0 0 200 200" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" style="width:inherit;height:inherit;line-height:inherit;color:inherit">
            <path d="M30.3 50.78a4.25 4.25 0 00-.2 1.1v48a6 6 0 006 6h58v42c0 .4.2.7.2 1.1a16 16 0 1011.6 0a4.25 4.25 0 00.2-1.1v-42H158v42c0 .4.2.7.2 1.1a16 16 0 1011.6 0a4.25 4.25 0 00.2-1.1v-96c0-.4-.2-.7-.2-1.1a16 16 0 10-11.6 0a4.25 4.25 0 00-.2 1.1v42h-52v-42c0-.4-.2-.7-.2-1.1a16 16 0 10-11.6 0a4.25 4.25 0 00-.2 1.1v42H42v-42c0-.4-.2-.7-.2-1.1A16 16 0 1020 35.88a16.1 16.1 0 0010.3 14.9z"></path></svg></span>M</div></div></div></div>
            <div class="rgGf-footer">
            <div class="rgGf-provider-logo-wrapper"><img src="/picasso/svg?url=/kimg/a/suppliers/5002062/vector-logos/f81bc1db5f2eeb17.svg&amp;padX=5&amp;padY=5" height="16" alt="Logo Rentalcars.com">
            <span class="rgGf-ad-label">| Annonce</span></div><div class="rgGf-footer-price"><div class="rgGf-price">736&nbsp;€</div><div class="rgGf-price-type">Total</div></div></div></div><div class="rgGf-booking-col"><div class="rgGf-provider">Rentalcars.com</div>
            <div class="rgGf-price">736&nbsp;€</div><div class="rgGf-price-type">Total</div>
            <button role="button" class="Iqt3 Iqt3-mod-stretch Iqt3-mod-bold Iqt3-mod-multiline Button-No-Standard-Style Iqt3-mod-variant-solid Iqt3-mod-theme-progress-legacy Iqt3-mod-shape-rounded-small Iqt3-mod-shape-mod-default Iqt3-mod-spacing-default Iqt3-mod-size-small Iqt3-mod-shadow-none" tabindex="0" aria-disabled="false">
            <div class="Iqt3-button-container"><div class="Iqt3-button-content">
            <div class="uMA6 uMA6-cars">Voir l’offre</div></div></div><div class="Iqt3-button-focus-outline"></div></button></div></div>
          </path></svg></span>M</div></div></div>
            