{% extends 'template_base.html' %}

{% block contenu %}
{% load static %}
    <!-- Le formulaire -->
    <div  class="ban">
      <div class="container texte">
        <h5>Bienvenue à</h5>
        <h1>SEN TRIP</h1>
        <H4>POUR VOS VOYAGES, RESERVEZ VOS VOLS,  VÉHICULES ET CHAMBRES D’HOTELS</H4>
      </div>
  
      <div class="container ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">VOLS</label>
          <div class="tab">
            <!-- PARTIE VOLS -->
            <form  method="POST" action="{% url 'resultatvol' %}">
              {% csrf_token %}
            <div class="row">
              <div class="col-2">
                <select class="form-select selection" >
                  <option selected>Aller-Retour</option>
                  <option value="1">Simple</option>
                  
                </select>
              </div>
              <div class="col-2">
                <select class="form-select selection" >
                  <option selected>Economique</option>
                  <option value="1">Premiere Classe</option>
                  
                </select>
              </div>
              <div class="col-2">
                <select class="form-select selection" >
                  <option selected>Adulte</option>
                  <option value="1">Enfant</option>
                  
                </select>
              </div>
            </div>
           
            <div class="row">
              <div class="col-3">
                  <div class="lab_input">
                      <span>Départ : </span>
                      <div class="dateheure">
                          <select class="form-select selection" name="departure">
                                  <option value="chosir">choisir</option>
                                  <option value="MAD">MAD</option>

                          </select>
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="lab_input">
                      <span>Arrivée: </span>
                      <div class="dateheure">
                          <select class="form-select selection" name="arrival">
                            <option value="choisir">choisir</option>

                                  <option value="FRA">FRA</option>
                                  <option value="ORD">ORD</option>
                                  <option value="SFO">SFO</option>
                                  <option value="CCU ">CCU</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="lab_input">
                      <span>Date départ : </span>
                      <div class="dateheure">
                          <input class="input" type="datetime-local" name="departure_time" placeholder="aaaa-mm-jj">
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="lab_input">
                      <span>Date arrivée : </span>
                      <div class="dateheure">
                          <input class="input" type="datetime-local" name="arrival_time" placeholder="aaaa-mm-jj">
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="bouton" type="submit">RECHERCHER</button>
          </div>
      </form>
    </div>
      <script>
     // Variable globale pour gérer l'état de connexion
var session,info_utilisateur,nom = false;

// Fonction pour vérifier l'authentification et soumettre le formulaire si l'utilisateur est connecté
function checkAuthentication(event) {
  event.preventDefault(); // Empêche l'action par défaut du bouton

  if (session,info_utilisateur,nom) {
    document.getElementById("searchForm").submit();
  } else {
    var confirmation = confirm("Vous devez vous connecter pour effectuer une recherche. Cliquez sur OK pour vous connecter ou Annuler pour revenir à la page de recherche.");
    if (confirmation) {
      window.location.href = "{% url 'connexion' %}"; // Remplacez 'connexion' par l'URL de votre page de connexion
    } else {
      // L'utilisateur a annulé, vous pouvez ajouter un comportement supplémentaire si nécessaire
      // Par exemple, rediriger l'utilisateur vers une autre page ou afficher un message d'annulation
      alert("Recherche annulée.");
    }
  }
}

// Fonction pour mettre à jour l'état d'authentification
function updateAuthenticationStatus(isAuthenticated) {
  session,info_utilisateur,nom = isAuthenticated;
  console.log("Valeur de isLoggedIn :", session,info_utilisateur,nom); // Ajout du console.log
}


// Événement de connexion réussie
function onLoginSuccess() {
  updateAuthenticationStatus(true);
}

// Événement de déconnexion réussie
function onLogoutSuccess() {
  updateAuthenticationStatus(false);
}

// Appeler la fonction onLoginSuccess après la connexion réussie
// Par exemple, vous pouvez appeler cette fonction à partir de votre logique de connexion
onLoginSuccess();

// Appeler la fonction onLogoutSuccess après la déconnexion réussie
// Par exemple, vous pouvez appeler cette fonction à partir de votre logique de déconnexion
onLogoutSuccess();

document.getElementById("searchButton").addEventListener("click", checkAuthentication);

    </script>
        
      
         
           
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">HOTELS</label>
          <div class="tab">
            <!-- PARTIE HOTELS -->
            <form method="POST" action="{% url 'resultat' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-3">
                  <div class="lab_input">
                    <span>Nom ou ville: </span>
                    <div class="dateheure">
                    <input type="text" class="input" name="lieu"   placeholder="ex : Dakar" required> 
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="lab_input">
                    <span>Date de reservation : </span>
                    <div class="dateheure">
                      <img src="{% static 'img/calendar.png' %}" class="calendrier" alt="Ma Image"><input type="date" class="input" name="date_reservation" required>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="lab_input">
                    <span>Date de sortie : </span>
                    <div class="dateheure">
                      <img src="{% static 'img/calendar.png' %}" class="calendrier" alt="Ma Image"><input class="input"  type="date" name="date_restitution" required>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="lab_input">
                    <span>Nombres : </span>
                    <div class="dateheure">
                     <input class="input"  type="number" placeholder="ex : 2 adultes" min="1" max="10" name="nombre">
                    </div>
                  </div>
                </div>
              </div>
  
              <br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="bouton" type="submit" >RECHERCHER</button>
              </div>
            </form>
            
          </div>
          <input type="radio" name="tabs" id="tabthree">
          <label for="tabthree">VOITURES</label>
          <div class="tab">
            <!-- PARTIE VOITURE -->
              <div class="row">
                <div class="col-4">
                  <div class="lab_input">
                    <span>Lieu: </span>
                    <div class="dateheure">
                    <input type="text" class="input"   placeholder="ex : Dakar"> 
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="lab_input">
                    <span>Date de location : </span>
                    <div class="dateheure">
                      <img src="{% static 'img/calendar.png' %}" class="calendrier" alt="Ma Image"><input type="date" class="input" ><input  class="input"  type="time" >
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="lab_input">
                    <span>Date de retour : </span>
                    <div class="dateheure">
                      <img src="{% static 'img/calendar.png' %}" class="calendrier" alt="Ma Image"><input class="input"  type="date"><input class="input"  type="time" >
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="bouton" >RECHERCHER</button>
              </div>
          </div>
        </div>
  
      </div>
    </div>
    <!-- Fin du formulaire -->
        <!-- effets -->
        <div class="container">
          <br><br><br>
          <div>
            <h1 class="line-1 anim-typewriter">NOS TOPS DESTINATIONS</h1>
            <hr class="souligne">
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <div class="box">
                      <img src="{% static 'img/d1.jpg' %}">
                      <div class="box-content">
                          <h3 class="title">Cancun</h3>
                          <span class="post">500.000fr</span>
                      </div>
                      <ul class="icon">
                          <li><a href="#"><img src="{% static '/img/avion.png'%}"  alt=""  srcset=""></i></a></li>
                          <li><a href="#"><img src="{% static 'img/lit.png' %}"alt="" srcset=""></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="box">
                      <img src="{% static 'img/d3.jpg' %}">
                      <div class="box-content">
                          <h3 class="title">Mecca</h3>
                          <span class="post">900.000fr</span>
                      </div>
                      <ul class="icon">
                        <li><a href="#"><img src="{% static '/img/avion.png'%}"  alt=""  srcset=""></i></a></li>
                        <li><a href="#"><img src="{% static 'img/lit.png' %}" alt="" srcset=""></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img src="{% static 'img/d2.jpg' %}">
                    <div class="box-content">
                        <h3 class="title">Nevada</h3>
                        <span class="post">400.000fr</span>
                    </div>
                    <ul class="icon">
                      <li><a href="#"><img src="{% static '/img/avion.png'%}"  alt=""  srcset=""></i></a></li>
                      <li><a href="#"><img src="{% static 'img/lit.png' %}" alt="" srcset=""></a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img src="{% static 'img/d4.jpeg' %}">
                    <div class="box-content">
                        <h3 class="title">Dubai</h3>
                        <span class="post">500.000fr</span>
                    </div>
                    <ul class="icon">
                      <li><a href="#"><img src="{% static '/img/avion.png'%}"  alt=""  srcset=""></i></a></li>
                      <li><a href="#"><img src="{% static 'img/lit.png' %}" alt="" srcset=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img src="{% static 'img/d5.jpeg' %}">
                    <div class="box-content">
                        <h3 class="title">Suisse</h3>
                        <span class="post">900.000fr</span>
                    </div>
                    <ul class="icon">
                      <li><a href="#"><img src="{% static '/img/avion.png'%}"  alt=""  srcset=""></i></a></li>
                      <li><a href="#"><img src="{% static 'img/lit.png' %}" alt="" srcset=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="box">
                  <img src="{% static 'img/d6.jpg' %}">
                  <div class="box-content">
                      <h3 class="title">Guinée</h3>
                      <span class="post">400.000fr</span>
                  </div>
                  <ul class="icon">
                    <li><a href="#"><img src="{% static '/img/avion.png'%}"  alt=""  srcset=""></i></a></li>
                          <li><a href="#"><img src="{% static 'img/lit.png' %}" alt="" srcset=""></a></li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
      <br> <br>
        <!-- fin effets -->
     <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2 class="aus" >À Propos</h2>
          <hr class="trait">
          <p>Chez SEN Trip, nous sommes passionnés par les voyages et nous comprenons l'importance de trouver les meilleures options de réservation pour rendre chaque expérience de voyage inoubliable. En tant qu'entreprise spécialisée dans la réservation d'hôtels, vols et voitures, notre objectif est de simplifier le processus de réservation et de vous offrir un accès pratique à une multitude d'options, le tout avec un service client exceptionnel.</p>
          <br>
          <br>
          <p>Nous offrons un large éventail de services pour répondre à tous vos besoins de voyage :

          </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Réservation d'hôtels :
              Accès à une vaste sélection d'hôtels dans le monde entier.
              Comparaison des prix et des caractéristiques pour vous aider à trouver l'option la mieux adaptée à vos préférences et à votre budget.
              Réservation facile et sécurisée en ligne ou via notre équipe de service client.            </p>
              <br>
              <br>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Réservation de vols :
              Recherche et comparaison des vols pour vous offrir les meilleures options disponibles.
              Possibilité de réserver des vols aller-retour, aller simple ou multi-destinations.
              Assistance pour les modifications de réservation et les demandes spéciales.            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">

          <p>Location de voitures :
            Large choix de véhicules de location, adaptés à vos besoins, que ce soit pour un voyage d'affaires ou des vacances en famille.
            Réservation simple et rapide, avec des options de récupération et de retour flexibles.
            Service client disponible pour répondre à vos questions et vous assister pendant votre location.</p>
            <a href="/" class="btn-learn-more">Learn More</a>

        </div>

      </div>
    </section>
    <!-- End About Us Section -->


     <!-- FIN DECORATIONS -->
    <br>
    
    <!-- CAROUSSELLES VOITURES -->
    <div class="container">
      <div>
        <h4 class="s1">Location de voiture</h4>
        <h1 class="s2">Les plus demandés</h1>
        <h2 class="s3">Voitures</h2>
      </div>
    </div>
    <div class="container slider">
      
      <div  id="container">
        <div id="slider-container">
          <span onclick="slideRight()" class="btn"></span>
            <div id="slider">
              <div class="slide">
                <img src="{% static '/img/v1.jpg'%}" alt="">
                <div class="description" >
                  <div class="marque"><h4>Renaul Megane</h4> <p>2 adultes, 3 valises</p></div>
                  <div class="lieu"> Saly, Mbour</div>
                  <div class="prix"> 25.OOOfr / jour </div>
                  <button class="bt">Voir l'offre</button>

                </div>
              </div>
             
                <div class="slide">
                  <img src="{% static '/img/V2.jpeg'%}" alt="">
                  <div class="description" >
                    <div class="marque"><h4>Jepp</h4> <p>5 adultes</p></div>
                    <div class="lieu"> Dakar</div>
                    <div class="prix"> 45.OOOfr / jour </div>
                    <button class="bt">Voir l'offre</button>
  
                  </div>
                </div>
               
                  <div class="slide">
                    <img src="{% static '/img/v3.jpeg'%}" alt="">
                    <div class="description" >
                      <div class="marque"><h4>Ford Escape</h4> <p>3 adultes, 2 bagages</p></div>
                      <div class="lieu"> Saint-Louis</div>
                      <div class="prix"> 58.OOOfr / jour </div>
                      <button class="bt">Voir l'offre</button>
    
                    </div>
                  </div>
                 
                    <div class="slide">
                      <img src="{% static '/img/v3.jpeg'%}" alt="">
                      <div class="description" >
                        <div class="marque"><h4>Tesla</h4> <p>2 adultes, 3 valises</p></div>
                        <div class="lieu"> Almadies</div>
                        <div class="prix"> 100.OOOfr / jour </div>
                        <button class="bt">Voir l'offre</button>
      
                      </div>
                    </div>
                   
                      <div class="slide">
                        <img src="{% static '/img/v1.jpg'%}" alt="">
                        <div class="description" >
                          <div class="marque"><h4>Renaul Megane</h4> <p>2 adultes, 3 valises</p></div>
                          <div class="lieu"> Saly, Mbour</div>
                          <div class="prix"> 25.OOOfr / jour </div>
                          <button class="bt">Voir l'offre</button>
        
                        </div>
                      </div>
                     
                        <div class="slide">
                          <img src="{% static '/img/v3.jpeg'%}" alt="">
                          <div class="description" >
                            <div class="marque"><h4>Dacia Duster</h4> <p>4 adultes</p></div>
                            <div class="lieu"> Saly, Mbour</div>
                            <div class="prix"> 25.OOOfr / jour </div>
                            <button class="bt">Voir l'offre</button>
          
                          </div>
                        </div>
                       
                          <div class="slide">
                            <img src="{% static '/img/v1.jpg'%}" alt="">
                            <div class="description" >
                              <div class="marque"><h4>Ford</h4> <p>2 adultes, 3 valises</p></div>
                              <div class="lieu"> Saly, Mbour</div>
                              <div class="prix"> 25.OOOfr / jour </div>
                              <button class="bt">Voir l'offre</button>
            
                            </div>
                          </div>
                         
                            <div class="slide">
                              <img src="{% static '/img/v3.jpeg'%}" alt="">
                              <div class="description" >
                                <div class="marque"><h4>Range Rover</h4> <p>2 adultes, 3 valises</p></div>
                                <div class="lieu"> Saly, Mbour</div>
                                <div class="prix"> 25.OOOfr / jour </div>
                                <button class="bt">Voir l'offre</button>
              
                              </div>
                            </div>
                           
                              <div class="slide">
                                <img src="{% static '/img/V2.jpeg'%}" alt="">
                                <div class="description" >
                                  <div class="marque"><h4>Renaul Megane</h4> <p>2 adultes, 3 valises</p></div>
                                  <div class="lieu"> Saly, Mbour</div>
                                  <div class="prix"> 25.OOOfr / jour </div>
                                  <button class="bt">Voir l'offre</button>
                
                                </div>
                              </div>
                             
                                <div class="slide">
                                  <img src="{% static '/img/v3.jpeg'%}" alt="">
                                  <div class="description" >
                                    <div class="marque"><h4>Renaul Megane</h4> <p>2 adultes, 3 valises</p></div>
                                    <div class="lieu"> Saly, Mbour</div>
                                    <div class="prix"> 25.OOOfr / jour </div>
                                    <button class="bt">Voir l'offre</button>
                  
                                  </div>
                                </div>
          </div>
          <span onclick="slideLeft()" class="btn"></span>
        </div>
      </div>
    </div>
   
    <!-- FIN CARROUSELLES VOITUES -->
     <!-- LES PARTENAIRES -->
     <section id="service">

     <div class="section_partner container">
      <div class="div1">
          <p class="p1">PARTNERS</p>
          <p class="p2">NOS PARTENAIRES</p>
          <p class="p3">
            Bienvenue dans notre entreprise de réservation<br>
            <span class="blue-text">Voitures</span><br>
            <span class="blue-text">Hôtel</span><br>
            <span class="blue-text">Vols</span>
          </p>
          </div>
      <div class="div2 row">
          <div class="col-sm text-center align-self-center"><img src="{% static '/img/emirate.png'%}" alt="test" class="img-thumbnail border-0"></div>
          <div class="col-sm text-center align-self-center"><img src="{% static '/img/airm.png'%} " alt="" class="img-thumbnail border-0"></div>
          <div class="col-sm text-center align-self-center"><img src="{% static '/img/airsn.png'%} " alt="" class="img-thumbnail border-0"></div>
          <div class="col-sm text-center align-self-center"><img src="{% static '/img/emirate.png'%} " alt="" class="img-thumbnail border-0"></div>
          <div class="col-sm text-center align-self-center"><img src="{% static '/img/AIRBNB.png'%} " alt="" class="img-thumbnail border-0"></div>
      </div>

      
      <button class="boutton2">
         Voir Plus
      </button>

    </div>
    <!-- FIN PARTENAIRES -->
    

    <br>
  </section>
    <!-- contacts -->
    <section id="contact">
  
      <h1 class="section-header">Contact</h1>
      
      <div class="contact-wrapper">
      
      <!-- Left contact page --> 
        
        <form id="contact-form" class="form-horizontal" role="form">
           
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
            </div>
          </div>
    
          <div class="form-group">
            <div class="col-sm-12">
              <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
            </div>
          </div>
    
          <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
          
          <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
            <div class="alt-send-button">
              <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
            </div>
          
          </button>
          
        </form>
        
      <!-- Left contact page --> 
        
          <div class="direct-contact-container">
    
            <ul class="contact-list">
              <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Mermoz, Dakar, SEnegal</span></i></li>
              
              <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:+221 77 123 45 67" title="Give me a call">(212) 555-2368</a></span></i></li>
              
              <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">sentripcontact@gmail.com</a></span></i></li>
              
            </ul>
    
          
    
            <div class="copyright">confidentialité</div>
            <div class="copyright">Nous disposons d'une politique de confidentialité complète qui explique comment nous collectons, utilisons et protégeons vos données personnelles.</div>
          </div>
        
      </div>
      
    </section>  
      
      
    <!-- fin contacts -->
{% endblock %}