{% extends 'template_base.html' %}
{% block contenu %}
  {% load static %}

      
  
    <br><br><br><h1>le resulats ici<H1>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id 
      architecto obcaecati quisquam ad enim, commodi a! Quidem ratione non 
      quisquam voluptatem voluptatibus hic. 
      Ut pariatur rerum dolorum, voluptas laborum consequuntur!<br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Non aliquid delectus dolores odio. Dolore officiis omnis 
      unde nostrum, in ex voluptate, amet officia fugiat, 
      a illo! Recusandae voluptas quia optio!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Architecto, beatae! Quaerat voluptatibus qui obcaecati nam. 
      Nostrum dolore deleniti iure aliquid est facilis, 
      laudantium officia sed, accusamus corrupti non libero aut.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Autem eligendi minima voluptatibus reiciendis nihil enim 
      culpa unde, ad dolor aperiam
       ipsum fuga voluptatem dolorem atque sunt iure eum modi optio?

      </div>
{% endblock %}