body{
  background: #F4F7FD;
  margin-top:20px;
}

.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.card .card-header.no-border {
  border: 0;
}
.card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
display: flex;
align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #edf1fc;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
color: #4e73e5;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
color: #4e73e5;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fcfcfd;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
color: #dde1e9;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
color: #dde1e9;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #e8faf8;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
color: #17d1bd;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
color: #17d1bd;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ebf7ff;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
color: #36afff;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
color: #36afff;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: floralwhite;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
color: #FFC868;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
color: #FFC868;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #feeeef;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
color: #F95062;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
color: #F95062;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fefeff;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
color: #f7f9fa;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
color: #f7f9fa;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ebedee;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
color: #394856;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
color: #394856;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #f0fafb;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
color: #68CBD7;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
color: #68CBD7;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
display: flex;
flex-direction: column;
margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
color: #3c4142;
font-size: 14px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
color: #B1BAC5;
font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
font-weight: 400;
font-size: 13px;
margin-top: .5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
display: list-item;
color: #727686;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
margin-left: .5rem;
}

.widget-49 .widget-49-meeting-action {
text-align: right;
}

.widget-49 .widget-49-meeting-action a {
text-transform: uppercase;
}

.blue-border {
  background-color: blue;
  padding: 10px;
  border-radius: 5px solid
}

.blue-border a {
  color: white;
  text-decoration: none;
}




.Flights-Results-FlightPriceAlertDriveBy {
  width:350px
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search {
  margin:30px 20px 25px
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search .title {
  font-family:"HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:600;
  letter-spacing:.4px;
  font-size:16px;
  margin-bottom:6px
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search .destination-and-dates {
  font-size:18px
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search .destination-and-dates span {
  font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:200
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search .destination-and-dates .carret {
  margin:0 4px
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search .destination-and-dates .vertical-separator {
  font-size:15px;
  color:#b3c1cb;
  margin:0 4px;
  font-family:"Lucida Console",Monaco,monospace
 }
 .Flights-Results-FlightPriceAlertDriveBy .current-search .destination-and-dates .date {
  white-space:nowrap
 }
 .Flights-Results-FlightPriceAlertDriveBy .separator {
  height:1px;
  background:#f7f7f7
 }
 .Flights-Results-FlightPriceAlertDriveBy .separator .orange {
  background:#558fe6;
  width:0;
  height:1px;
  display:none
 }
 .Flights-Results-FlightPriceAlertDriveBy.newDriveby .separator .orange {
  display:block
 }
 .Flights-Results-FlightPriceAlertDriveBy .drive-by-form {
  padding-top:25px
 }
 .Flights-Results-FlightPriceAlertDriveBy .invalid-email {
  display:none;
  margin-top:-22px;
  margin-bottom:5px;
  font-size:14px;
  color:#bf323b
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert {
  background:#fafbfc;
  padding:20px;
  padding-top:0
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .only-kayak {
  font-family:"HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:600
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert ul li {
  font-weight:300
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert ul li:before {
  content:"\2013";
  position:relative;
  margin-right:5px;
  left:-1px
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .free-alert {
  font-family:"HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:600
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .great-savings {
  font-weight:300
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert hr {
  border:0;
  background:#f7f7f7;
  height:1px;
  margin:16px 0 10px
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .driveByUserAddress {
  box-shadow:0 1px 3px rgba(0,0,0,0.1) inset;
  margin:0 0 15px;
  height:30px;
  border-radius:2px
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .saveAlertButton {
  width:100%;
  height:30px;
  border-radius:2px
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .disclaimer {
  margin-top:20px;
  color:#647582;
  font-size:10px
 }
 .Flights-Results-FlightPriceAlertDriveBy .features-and-alert .disclaimer a {
  color:#647582;
  text-decoration:underline
 }
 .Flights-Results-FlightPriceAlertDriveBy .optIn {
  margin-bottom:15px
 }
 .Flights-Results-FlightPriceAlertDriveBy.newDriveby .features-and-alert {
  padding-top:20px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 {
  width:440px;
  padding:30px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 a {
  color:#a0afba;
  text-decoration:underline;
  cursor:pointer
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 a:hover {
  color:#ff690f
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .title {
  font-size:30px;
  font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:200;
  margin-bottom:1em
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container {
  margin-bottom:40px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container>div {
  padding:16px 0
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search {
  padding:15px 0;
  border-bottom:1px solid #b3c1cb
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search .destination-and-dates span {
  font-size:15px;
  font-family:"HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:600
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search .destination-and-dates span.vertical-separator {
  font-size:13px;
  margin:0 4px;
  font-family:"Lucida Console",Monaco,monospace
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search .chevron {
  vertical-align:middle
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search .chevron svg {
  width:.8em;
  transform:rotate(270deg)
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search .delete {
    display:inline-block;
    float:right;
    width:15px;
    color:#ff690f;
    cursor:pointer;
    margin-top:3px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .search .delete svg {
  fill:currentColor;
  stroke:currentColor;
  stroke-width:2px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .add-search-form {
  padding-bottom:0
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .add-search-form>div:not(:last-child) {
  padding-right:6px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .search-container .submit-search {
  float:right;
  display:none
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .form-container .driveByUserAddress {
  margin-bottom:19px;
  padding:0 19px;
  height:40px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .form-container .saveAlertButton {
  width:100%;
  height:32px;
  border-radius:2px;
  font-size:15px
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .form-container .disclaimer {
  margin-top:20px;
  color:#647582;
  font-size:13px;
  text-align:center
 }
 .Flights-Results-FlightPriceAlertDriveBy.v2 .form-container .optIn {
  font-size:15px;
  margin-bottom:19px
 }
 .zh_CN .Flights-Results-FlightPriceAlertDriveBy.v2,
 .zh_SG .Flights-Results-FlightPriceAlertDriveBy.v2,
 .zh_HK .Flights-Results-FlightPriceAlertDriveBy.v2,
 .zh_TW .Flights-Results-FlightPriceAlertDriveBy.v2,
 .ja_JP .Flights-Results-FlightPriceAlertDriveBy.v2,
 .ko_KR .Flights-Results-FlightPriceAlertDriveBy.v2 {
  width:560px
 }
 

 .keel-bcom .Flights-Results-FlightResultItem.Base-Results-HorizonResult {
  padding: 0;
  margin: 0 0 10px;
  position: relative;
  overflow: visible;
  z-index: auto;
}

.keel-bcom .Flights-Results-FlightResultItem .inner-grid .col-info .mainInfo {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.Flights-Results-ResultInfo {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.Flights-Results-ResultInfo .flights {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}


.Flights-Results-ResultInfo .flights .flight.with-gutter {
  padding-bottom: 10px;
}

.centered-pseudo, .keel-bcom .v-c-p {
  display: flex;
  align-content: center;
  align-items: center;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.carrier {
  text-align: center;
  width: 90px;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.carrier .top {
  height: 30px;
  line-height: inherit;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.time {
  width: 72px;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.stops {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 70px;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.time.return {
  width: 90px;
}
.keel-bcom .Flights-Results-LegInfo .col-field .top {
  font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .03em;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.duration {
  max-width: 96px;
  min-width: 52px;
}
.keel-bcom .Flights-Results-LegInfo .keel-grid .col-field.fees {
  width: 30px;
  padding-right: 0;
  text-align: center;
}

::after {
  box-sizing: border-box;
}
::before {
  box-sizing: border-box;
}
élément {
}
.keel-bcom .Flights-Results-LegInfo .keel-grid {
  margin: 0;
  justify-content: space-between;
}
.keel-bcom .vertical-centred-pseudo, .keel-bcom .vertical-centered-pseudo, .keel-bcom .v-c-p {
  display: flex;
  align-content: center;
  align-items: center;
}