/* body{
    background-color: #e7eeff;
} */

.car{
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

.card-body{
    width: 100%;
    height: 100%;
    background-color: rgb(27, 24, 98);
}

.card-img-top{
    width: 100%;
}


.card-title{
    color: azure;
    font-weight: bold;
}
.card-body p{
    color: azure;

}