.carte {
    margin-top: 2%;
    /* margin-left: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 10px;
    /* overflow: hidden; */
    width: 50%;
    height: 100%;
  }
  
  .carte-image {
    flex:  10%;
    /* display: inline-block; */

  }

  .prix{
    margin-left: 10px;
    /* border: 10% solid black; */

  }

  .texte{
    margin-top: -1%;
    flex: 1 1 10%;
    display: inline-block;
    color: black;

  } 


  .carte-image img {
    width: 100%;
    height: 90%;
    display: inline-block;

  }
  
  .carte-details {
    flex: 1 1 50%;
    padding: 20px;
  }
  
  .carte-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carte-description {
    font-size: 30px;
    line-height: 1.5;
  }
  



  
  


